<div class="page-width customer-activate-account">
  <h1>Activate account</h1>
  <p>Create your password to activate your account.</p>

  {%- form 'activate_customer_password' -%}
    {%- if form.errors -%}
      <div class="form__errors" role="alert">
        {{ form.errors | default_errors }}
      </div>
    {%- endif -%}

    <label for="ActivatePassword">Password</label>
    <input
      id="ActivatePassword"
      type="password"
      name="customer[password]"
      autocomplete="new-password"
      required
    >

    <label for="ActivatePasswordConfirmation">Confirm password</label>
    <input
      id="ActivatePasswordConfirmation"
      type="password"
      name="customer[password_confirmation]"
      autocomplete="new-password"
      required
    >

    <button type="submit" name="commit">Activate account</button>
    <button type="submit" name="decline">Decline invitation</button>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Activate account",
  "settings": []
}
{% endschema %}
